#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.accordion-verde .accordion-button {
  background-color: #f8fff8;
  color: #198754;
  border: 1px solid #198754;
}

.accordion-verde .accordion-button:not(.collapsed) {
  background-color: #2cbd79;
  color: white;
}

.accordion-verde .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

